<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Story</title>
</head>  
<body>
<p>
<div class="story" id="story" width: 100px;>{{story}}</div>
</p>
<br>
<!--<form method="POST" action="">-->
<!--<input type="hidden" name="story" data-value="{{story}}">-->
<button name="save" value ="Save" onclick = save()> Save </button>
<!--</form>-->
<script>
function save(){
var xhr = new XMLHttpRequest();
var story = 
xhr.open("POST", "/storySaver", true);
xhr.setRequestHeader('Content-Type', 'application/json');
xhr.send(JSON.stringify({
    "story": document.getElementById("story").innerHTML
}));
}
</script>
</body>
</html>